.columns{
    display: table;
}
.img2 {
    width: 50%;
}
.testamonials {
    text-align: justify;
    background-color: white;
}

.bg1 {
    background-image: url("/tes_img.jpeg");
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-size: 100% 100%;
    overflow: auto;
    color: white;
}

.bg2 {
    background-image: url("/tes_img2.jpeg");
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-size: 100% 100%;
    overflow: auto;
    color: black;
}

.textpadding {
    padding-left: 25px;
    padding-right: 50px;
}
.title1 {
    text-align: left;
    left: 0;
    top: 0;
    padding-bottom: 10px;
    text-decoration:underline;
}

.smallerversion {
    max-height: 270px;
    overflow: hidden;
    vertical-align: middle;
}


.forms input{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  .forms input[type=button] {
    background-color: #2e04aa;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .fdescription{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  /* When moving the mouse over the submit button, add a darker green color */
  .forms input[type=button]:hover {
    background-color: #FFFFFF;
    color: #000000;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: table-row;
  }

.plans {
  background-color: #01001c;
  display: table;
  color: white;
  line-height: 150%;
}

.iplans button{
  Size: 100%;
  width: 60%;
}

.iplans {
  float: left;
  width: 33%;
  margin: auto;
  padding: 5%;
}